{% extends "base.html" %}

{% block content %}
    <h1>BBS Brinkstraße</h1>
    <h2>Anwesenheitssystem</h2>
    <h2 style="color: red">Gehen</h2>
    <form style="text-align: center; margin-top: 100px;"; action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.user_code.label }} <br>
        {{ form.user_code(size=32) }}
        {% for error in form.user_code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
    </form>
    <div class="two">
        <a href="{{ url_for('index') }}"><button class="btn btn-dark btn-lg" style="height:300px;width:500px">Back</button></a>
        <a href="{{ url_for('gehen_stempeln') }}"><button class="btn btn-dark btn-lg" style="height:300px;width:500px" onclick="displayMessage('Bitte RFID Karte an den Sensor halten')">RFID</button></a>
    </div>

    <button id="button">Click me</button>
    <div id="message"></div>


{% endblock %}