{% extends "base.html" %}

<!-- {sfggs% block content %}
    <h1>Welcome!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.user_code.label }} <br>
        {{ form.user_code(size=32) }}
    </p>
    <p>{{ form.submit }}</p>

    </form>
{sdfg% endblock %} -->

{% block content %}
    <div class="container">
        <h1>BBS Brinkstraße</h1>
        <h2>Anwesenheitssystem</h2>
        <!-- Bootstrap Button Classes -->
        <div class="one">
            <button type="button"
                    class="btn btn-primary btn-lg">
                Kommen</button>
            <button type="button"
                    class="btn btn-outline-secondary btn-lg">
                Gehen</button>
        </div>
        <div class="two">
            <a href="{{ url_for('kommen') }}", class="btn btn-primary btn-lg">Kommen</a>
            <button type="submit" value="{{ url_for('kommen') }}"
                    class="btn btn-primary btn-lg">
                Kommen</button>
        </div>
    </div>
{% endblock %}