{% extends "base.html" %}


{% block content %}
    <div class="container">
        <h1>BBS Brinkstraße</h1>
        <h2>Anwesenheitssystem</h2>
        <!-- Bootstrap Button Classes -->
        <div class="one">
            <a href="{{ url_for('kommen') }}"><button class="btn btn-success btn-lg" style="height:300px;width:500px">Kommen</button></a>
            <a href="{{ url_for('gehen') }}"><button class="btn btn-danger btn-lg" style="height:300px;width:500px">Gehen</button></a>
        </div>
        <div class="two">
            <a href="{{ url_for('buchungen') }}"><button class="btn btn-outline-warning btn-lg" style="height:300px;width:500px">Buchungen</button></a>
            <a href="{{ url_for('new_user') }}"><button class="btn btn-outline-secondary btn-lg" style="height:300px;width:500px">Neuer Nutzer</button></a>
        </div>
    </div>
{% endblock %}

