{% extends "base.html" %}

{% block content %}
<h1>BBS Brinkstraße</h1>
<h2>Anwesenheitssystem</h2>
<h2 style="color: gray">Neuen Nutzer anlegen</h2>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.vorname.label }} <br>
        {{ form.vorname(size=32) }}
        {% for error in form.user_code.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
    {{ form.nachname.label }} <br>
    {{ form.nachname(size=32) }}
        {% for error in form.user_code.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.user_code.label }} <br>
        {{ form.user_code(size=32) }}
        {% for error in form.user_code.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class_="btn btn-primary btn-lg") }}</p>

    </form>

    <div class="two">
        <a href="{{ url_for('index') }}"><button class="btn btn-dark btn-lg" style="height:300px;width:500px">Back</button></a>
    </div>
{% endblock %}