{% extends "base.html" %}

{% block content %}
<div>
  <h1>BBS Brinkstraße</h1>
  <h2>Anwesenheitssystem</h2>
  <h2 style="color: yellow">Buchungen</h2>
  <hr>
  <div id="table"></div>
</div>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
  new gridjs.Grid({
    columns: [
      { id: 'id', name: 'ID', width: '20%' },
      { id: 'timestamp', name: 'Timestamp' },
      { id: 'vorgang', name: 'Vorgang', sort: false }
    ],
    server: {
      url: '/api/data?query=' + {{ user_id }},
      then: results => results.data,
    },
    search: {
      selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
    },
    sort: true,
    pagination: true,
  }).render(document.getElementById('table'));
</script>

<div class="two">
  <a href="{{ url_for('index') }}"><button class="btn btn-dark btn-lg" style="height:300px;width:500px">Back</button></a>
</div>

{% endblock %}